* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 1.1;
}

small {
  font-size: 65%;
  font-weight: 400;
  line-height: 1;
  color: #999;
}

#app {
  width: 422px;
  margin-left: auto;
  margin-right: auto;
}

#grid {
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#grid div {
  width: 100px;
  height: 100px;
  line-height: 100px;

  text-align: center;
  font-size: 35px;
  font-weight: bold;

  border: 1px solid #ccc;
  margin: 2px;
  border-radius: 4px;
}

@media (max-width: 500px) {
  body { margin: 40px 10px; }

  h1 { font-size: 60px; }

  #app { width: 342px; }

  #grid div {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}
